* {
  box-sizing: border-box;
}

:root {
  --background-color: #5c5470;
  --content-background-color: #2a2438;
  --text-color: #fff;
  --btn-main-color: #970747;
  --btn-second-color: #fef4e8;
  --btn-hover-color: #4ef037;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: var(--content-background-color);
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h1 {
  margin: 10px 0 15px;
}

form div {
  margin: 10px 0;
}

label {
  font-weight: bold;
}

input, select {
  padding: 8px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid var(--btn-second-color);
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  margin: 10px auto;
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--btn-main-color);
  border: 3px solid var(--btn-second-color);
  border-radius: 20px;
}

button:hover {
  background-color: var(--btn-hover-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid var(--btn-main-color);
  display: flex;
  justify-content: space-between;
}